  <h1>Login</h1>
<form class="login_form" method="post">
  username: <input type="text" name="user[email]">
  password:  <input type="password" name="user[password]">
  <button type="submit">login</button> 
</form>
